## - Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [26]:
airlines_delay = pd.read_csv('DelayedFlights.csv')

In [27]:
df = airlines_delay.sample(n=20000)

Aquest Data Set analitza 1.936.758 vols interns diferents als EUA durant l'any 2008 i les seves causes de retard, desviament i cancel·lació, si n'hi ha. En el nostre anàlisi agafarem una mostra aleatòria de 200.000 registres. Hi ha 30 columnes i ens en quedem amb 21. S'ha eliminat l'index autogenerat, totes les columnes referides als taxis, el codi de cancelació dels vols i els motius del retard, ja que és informació específica sense la qual es pot fer l'anàlisi sol·licitat.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 1391251 to 1663955
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20000 non-null  int64
 1   Year               20000 non-null  int64
 2   Month              20000 non-null  int64
 3   DayofMonth         20000 non-null  int64
 4   DayOfWeek          20000 non-null  int64
 5   DepTime            20000 non-null  float64
 6   CRSDepTime         20000 non-null  int64
 7   ArrTime            19931 non-null  float64
 8   CRSArrTime         20000 non-null  int64
 9   UniqueCarrier      20000 non-null  object
 10  FlightNum          20000 non-null  int64
 11  TailNum            20000 non-null  object
 12  ActualElapsedTime  19920 non-null  float64
 13  CRSElapsedTime     19999 non-null  float64
 14  AirTime            19920 non-null  float64
 15  ArrDelay           19920 non-null  float64
 16  DepDelay           20000 non-null  float64
 17  Origin             20000 non-null  object
 18  Dest               20000 non-null  object
 19  Distance           20000 non-null  int64
 20  TaxiIn             19931 non-null  float64
 21  TaxiOut            19997 non-null  float64
 22  Cancelled          20000 non-null  int64
 23  CancellationCode   20000 non-null  object
 24  Diverted           20000 non-null  int64
 25  CarrierDelay       12870 non-null  float64
 26  WeatherDelay       12870 non-null  float64
 27  NASDelay           12870 non-null  float64
 28  SecurityDelay      12870 non-null  float64
 29  LateAircraftDelay  12870 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 4.7+ MB

- Unnamed: index autogenerat
- Year: 2008
- Month: 1-12
- DayofMonth: 1-31
- DayOfWeek: 1 (dilluns) - 7 (diumenge)
- DepTime: hora de sortida real(local, hhmm)
- CRSDepTime: Hora de sortida programada(local, hhmm)
- ArrTime: hora d'arribada real(local, hhmm)
- CRSArrTime: hora d'arribada programada(local, hhmm)
- UniqueCarrier: Codi únic de transportista
- FlightNum: número de vol
- TailNum: número de cua de l'avió, matrícula de l'aeronau, identificador únic de l'avió
- ActualElapsedTime: en minuts
- CRSElapsedTime: en minuts
- AirTime: en minuts
- ArrDelay: en minuts. Un vol es compta com a "a temps" si el retard és de menys de 15 minuts. 
- DepDelay: retard de sortida, en minuts
- Origin: codi d'aeroport IATA
- Dest: Codi de l'aeroport de destinació IATA
- Distance: Distància en milles
- TaxiIn: taxi que va puntual, en minuts
- TaxiOut: taxi que va amb retard, en minuts
- Cancelled: el vol s'ha cancel·lat
- CancellationCode: motiu de la cancel·lació (A = operador, B = temps, C = NAS, D = seguretat)
- Diverted: 1 = sí, 0 = no
- CarrierDelay: en minuts, el retard té a veure amb el transport aeri i les diferents casuistiques
- WeatherDelay: en minuts, el retard meteorològic és a causa de previsió o certesa de condicions metereologiques extremes. 
- NASDelay: en minuts, el retard que està sota el control del Sistema Nacional d'Espai Aeri (NAS) pot incloure: condicions meteorològiques no extremes, operacions aeroportuàries, volum de trànsit intens, control de trànsit aeri, etc.
- SecurityDelay: retard en minuts, pot ser causat per qualsevol problema de seguretat detectat 
- LateAircraftDelay en minuts: retard a l'arribada a un aeroport a causa de l'arribada tardana de la mateixa aeronau a un aeroport anterior. L'efecte dominó d'un retard anterior als aeroports aigües avall es coneix com a propagació del retard.

In [29]:
DelFlights = df.drop(['Unnamed: 0','TaxiIn', 'TaxiOut','CancellationCode','CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], axis=1)

## - Exercici 2

#### Fes un informe complet del dataset:
#### Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.

In [30]:
# Veure una estadística ràpida de les dades

DelFlights.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
count,20000.0,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,19931.000000,20000.000000,20000.00000,19920.000000,19999.000000,19920.000000,19920.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,2008.0,6.120950,15.704100,3.976700,1514.79825,1466.501650,1607.505644,1632.688550,2184.26420,133.582831,134.650383,108.519428,42.664458,43.698600,768.096950,0.000200,0.003800
std,0.0,3.478308,8.727064,1.998288,451.85406,424.354263,547.681568,464.016192,1952.39706,72.108417,71.402590,68.726477,59.111583,55.807309,575.034404,0.014141,0.061528
min,2008.0,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,0.000000,1.00000,16.000000,8.000000,1.000000,-55.000000,6.000000,31.000000,0.000000,0.000000
25%,2008.0,3.000000,8.000000,2.000000,1203.00000,1135.000000,1320.000000,1325.000000,605.00000,80.000000,81.000000,58.000000,9.000000,12.000000,338.000000,0.000000,0.000000
50%,2008.0,6.000000,16.000000,4.000000,1540.00000,1505.000000,1711.000000,1703.500000,1535.00000,116.000000,117.000000,90.000000,24.000000,25.000000,610.000000,0.000000,0.000000
75%,2008.0,9.000000,23.000000,6.000000,1857.00000,1815.000000,2027.000000,2012.000000,3423.00000,165.250000,165.000000,138.000000,56.000000,54.000000,1005.000000,0.000000,0.000000
max,2008.0,12.000000,31.000000,7.000000,2400.00000,2359.000000,2400.000000,2400.000000,9740.00000,683.000000,660.000000,654.000000,1298.000000,1206.000000,4962.000000,1.000000,1.000000

In [31]:
# Ranking dels dies de la setmana en relació als retards, primer busquem els dies que realment hi hagi retard(= o + de 15 minuts) i fem una nova columna. 

DelFlights['Delayed'] = df['ArrDelay'].where(DelFlights['ArrDelay'] >= 15)

DelFlights.groupby(['DayOfWeek'])['Delayed'].count().sort_values(ascending=False)

DayOfWeek
5    2206
1    1959
4    1940
7    1881
2    1731
3    1703
6    1450
Name: Delayed, dtype: int64

In [32]:
# Ranking dels mesos de l'any en relació als retards

DelFlights.groupby(['Month'])['Delayed'].count().sort_values(ascending=False)

Month
6     1456
12    1414
3     1348
2     1345
7     1224
1     1179
4     1026
8     1014
5      985
11     713
9      592
10     574
Name: Delayed, dtype: int64

In [33]:
# Ranking dels dies dels mesos de l'any en relació als retards

DelFlights.groupby(['DayofMonth'])['Delayed'].count().sort_values(ascending=False)

DayofMonth
22    519
21    484
8     463
18    460
19    456
27    455
1     444
7     444
14    441
15    436
12    432
6     429
23    428
13    420
26    420
24    419
4     419
10    416
16    415
2     412
20    406
3     397
11    395
9     389
5     387
28    385
17    381
25    358
29    351
30    349
31    260
Name: Delayed, dtype: int64

In [34]:
# Mostrem els vols cancel·lats

CancelFlights = DelFlights.loc[DelFlights['Cancelled'] > 0]
CancelFlights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,Delayed
1792044,2008,12,23,2,1550.0,1515,NaN,1702,OH,6542,...,107.0,NaN,NaN,35.0,CVG,ALB,623,1,0,NaN
1872612,2008,12,26,5,752.0,650,NaN,820,MQ,4024,...,90.0,NaN,NaN,62.0,ORD,OMA,416,1,0,NaN
1897715,2008,12,31,3,1342.0,1325,NaN,1635,AA,569,...,250.0,NaN,NaN,17.0,BDL,DFW,1471,1,0,NaN
1716059,2008,11,13,4,1202.0,1100,NaN,1420,AA,1638,...,140.0,NaN,NaN,62.0,DFW,MCO,984,1,0,NaN

In [35]:
# Mostrem els vols desviats 

DivertedFlights = DelFlights.loc[DelFlights['Diverted'] > 0]
DivertedFlights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,Delayed
1424592,2008,8,5,2,2123.0,2115,NaN,2209,DL,1037,...,234.0,NaN,NaN,8.0,ATL,PHX,1587,0,1,NaN
1173344,2008,7,22,2,1635.0,1600,NaN,1749,DL,1281,...,109.0,NaN,NaN,35.0,ORF,ATL,516,0,1,NaN
829578,2008,5,2,5,829.0,815,NaN,1001,MQ,3983,...,46.0,NaN,NaN,14.0,EVV,ORD,273,0,1,NaN
1885871,2008,12,14,7,1401.0,1315,2029.0,1650,NW,1270,...,155.0,NaN,NaN,46.0,MSP,PHL,980,0,1,NaN
229651,2008,2,4,1,1540.0,1228,NaN,1348,YV,7211,...,140.0,NaN,NaN,192.0,CAE,ORD,666,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355436,2008,2,1,5,1129.0,1025,NaN,1825,B6,192,...,385.0,NaN,NaN,64.0,LAS,JFK,2248,0,1,NaN
1393514,2008,8,20,3,1501.0,1425,NaN,1815,AA,1204,...,170.0,NaN,NaN,36.0,DFW,RDU,1062,0,1,NaN
1875166,2008,12,9,2,1959.0,1830,NaN,1835,MQ,4280,...,65.0,NaN,NaN,89.0,FWA,ORD,157,0,1,NaN
1410082,2008,8,15,5,1455.0,1240,NaN,2115,B6,202,...,460.0,NaN,NaN,135.0,LGB,JFK,2465,0,1,NaN
1396728,2008,8,2,6,1637.0,1600,NaN,1930,AA,1578,...,150.0,NaN,NaN,37.0,STL,LGA,887,0,1,NaN

#### Troba quantes dades faltants hi ha per columna.

In [36]:
missing_values_count = DelFlights.isna().sum()

print(missing_values_count)

Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime                69
CRSArrTime              0
UniqueCarrier           0
FlightNum               0
TailNum                 0
ActualElapsedTime      80
CRSElapsedTime          1
AirTime                80
ArrDelay               80
DepDelay                0
Origin                  0
Dest                    0
Distance                0
Cancelled               0
Diverted                0
Delayed              7130
dtype: int64

In [37]:
DelFlights = DelFlights.fillna(0)

#### Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

In [38]:
# Per la velocitat mitjana de vol convertim les Milles en Km i els minuts en hores, ho dividim i treiem la mitjana.

DelFlights['DistanceKm'] = DelFlights['Distance']* 1.60934
DelFlights['TimeHour'] = DelFlights['AirTime']/60
DelFlights['MeanFlightSpeed'] = DelFlights['DistanceKm']/DelFlights['TimeHour'].mean()

DelFlights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,Delayed,DistanceKm,TimeHour,MeanFlightSpeed
1391251,2008,8,11,1,2147.0,2105,2323.0,2230,AA,867,...,42.0,ORD,DEN,888,0,0,53.0,1429.09392,2.150000,793.314128
39986,2008,1,22,2,1007.0,1000,1136.0,1132,XE,2356,...,7.0,RDU,EWR,416,0,0,0.0,669.48544,1.116667,371.642655
1677286,2008,11,1,6,1241.0,1230,1829.0,1820,WN,1848,...,11.0,DEN,FLL,1703,0,0,0.0,2740.70602,3.566667,1521.412117
574185,2008,4,3,4,1741.0,1735,1859.0,1855,WN,373,...,6.0,OAK,SNA,371,0,0,0.0,597.06514,1.050000,331.440925
1293256,2008,8,8,5,1234.0,1215,1330.0,1308,XE,445,...,19.0,SAN,BFL,215,0,0,22.0,346.00810,0.583333,192.074930

In [39]:
# Només es compten com a retard els vols que arriben més de 15 minuts tard

DelFlights['DelayedOrNot'] = np.where(DelFlights['ArrDelay'] >= 15, 'Delayed', 'On time')

In [40]:
DelFlights[['ArrDelay','DelayedOrNot']]

         ArrDelay DelayedOrNot
1391251      53.0      Delayed
39986         4.0      On time
1677286       9.0      On time
574185        4.0      On time
1293256      22.0      Delayed
...           ...          ...
420529       38.0      Delayed
490460       43.0      Delayed
1666290       0.0      On time
1598694       9.0      On time
1663955       4.0      On time

[20000 rows x 2 columns]

#### Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards. Aporta allò que consideris rellevant.

In [41]:
# Vols més llargs
DelFlights.sort_values(by = 'Distance', ascending = False)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,Cancelled,Diverted,Delayed,DistanceKm,TimeHour,MeanFlightSpeed,DelayedOrNot
1068315,2008,6,2,1,1342.0,1335,1807.0,1810,CO,15,...,EWR,HNL,4962,0,0,0.0,7985.54508,9.883333,4432.910703,On time
556379,2008,3,19,3,1326.0,1320,1838.0,1820,CO,15,...,EWR,HNL,4962,0,0,18.0,7985.54508,10.900000,4432.910703,Delayed
1928078,2008,12,16,2,1359.0,1335,2022.0,1935,CO,15,...,EWR,HNL,4962,0,0,47.0,7985.54508,10.616667,4432.910703,Delayed
1520347,2008,9,3,3,1353.0,1335,1805.0,1810,CO,15,...,EWR,HNL,4962,0,0,0.0,7985.54508,9.783333,4432.910703,On time
1260710,2008,7,7,1,1012.0,955,1332.0,1328,DL,1273,...,ATL,HNL,4502,0,0,0.0,7245.24868,8.866667,4021.959690,On time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799656,2008,12,30,2,633.0,620,701.0,702,OO,5512,...,OXR,LAX,49,0,0,0.0,78.85766,0.283333,43.775217,On time
1319808,2008,8,17,7,1405.0,1231,1438.0,1315,OO,5458,...,OXR,LAX,49,0,0,83.0,78.85766,0.283333,43.775217,Delayed
1242701,2008,7,28,1,1846.0,1730,1918.0,1801,AS,77,...,GST,JNU,41,0,0,77.0,65.98294,0.233333,36.628242,Delayed
759223,2008,5,15,4,941.0,921,1008.0,929,XE,16,...,LGB,ONT,35,0,0,39.0,56.32690,0.233333,31.268012,Delayed
1513425,2008,9,17,3,1058.0,1037,1114.0,1102,AS,65,...,WRG,PSG,31,0,0,0.0,49.88954,0.133333,27.694525,On time

In [42]:
# Vols més endarrerits

DelFlights.sort_values(by = 'Delayed', ascending = False)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,Cancelled,Diverted,Delayed,DistanceKm,TimeHour,MeanFlightSpeed,DelayedOrNot
1905241,2008,12,17,3,832.0,1305,1523.0,1745,AA,1598,...,LAS,DFW,1055,0,0,1298.0,1697.85370,2.133333,942.507213,Delayed
1193616,2008,7,20,7,236.0,630,415.0,840,FL,927,...,PHL,ATL,665,0,0,1175.0,1070.21110,1.466667,594.092224,Delayed
1200778,2008,7,31,4,8.0,555,102.0,700,MQ,3574,...,HOU,DFW,247,0,0,1082.0,397.50698,0.666667,220.662826,Delayed
1489111,2008,9,29,1,754.0,1450,910.0,1605,MQ,3106,...,LAS,LAX,236,0,0,1025.0,379.80424,0.716667,210.835737,Delayed
1699520,2008,11,30,7,732.0,1505,943.0,1710,MQ,3806,...,EVV,DFW,642,0,0,993.0,1033.19628,1.650000,573.544674,Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733556,2008,5,9,5,1418.0,1405,1732.0,1740,WN,319,...,ABQ,MDW,1121,0,0,0.0,1804.07014,2.050000,1001.469750,On time
437567,2008,3,7,5,1440.0,1430,1610.0,1609,OO,4060,...,ATL,CMH,446,0,0,0.0,717.76564,1.033333,398.443808,On time
362460,2008,2,13,3,1818.0,1800,1956.0,1946,CO,1538,...,IAH,TUS,936,0,0,0.0,1506.34224,2.233333,836.195973,On time
481798,2008,3,13,4,1412.0,1400,1652.0,1646,EV,4466,...,BTV,ATL,960,0,0,0.0,1544.96640,2.366667,857.636895,On time
1663955,2008,11,13,4,1330.0,1324,1427.0,1423,OO,6377,...,CPR,DEN,230,0,0,0.0,370.14820,0.650000,205.475506,On time

In [43]:
# Rutes més llargues 

DelFlights_grouped = DelFlights.groupby(['Origin','Dest']).agg({'Distance':'max'})

DelFlights_grouped = DelFlights_grouped.sort_values(by='Distance', ascending=False)

DelFlights_grouped.head(20)

             Distance
Origin Dest
EWR    HNL       4962
ATL    HNL       4502
ORD    HNL       4243
HNL    ORD       4243
ORD    OGG       4184
MSP    HNL       3972
IAH    HNL       3904
HNL    IAH       3904
       DFW       3784
DFW    HNL       3784
OGG    DFW       3711
DFW    OGG       3711
SJU    LAX       3386
LAX    SJU       3386
DEN    HNL       3365
       KOA       3329
ANC    IAH       3266
IAH    ANC       3266
ANC    DFW       3043
SLC    HNL       2994

In [44]:
# Rutes més curtes

DelFlights_grouped = DelFlights.groupby(['Origin','Dest']).agg({'Distance':'max'})

DelFlights_grouped = DelFlights_grouped.sort_values(by='Distance', ascending=True)

DelFlights_grouped.head(20)

             Distance
Origin Dest
WRG    PSG         31
LGB    ONT         35
GST    JNU         41
OXR    LAX         49
FNT    DTW         56
DTW    FNT         56
IPL    YUM         58
DAY    CVG         64
ORD    MKE         67
MKE    ORD         67
STT    SJU         68
SJU    STT         68
LEX    CVG         70
CVG    LEX         70
DEN    COS         72
COS    DEN         72
DTW    LAN         74
MSN    MKE         74
LAN    DTW         74
MKE    MSN         74

In [45]:
# Avions amb origens i destinacions amb menys distància i major retard

origin_dest_distance_delay = DelFlights[['TailNum','Origin','Dest','Distance', 'ArrDelay']]

In [46]:
origin_dest_distance_delay.sort_values(by = ['Distance', 'ArrDelay'], ascending = [True, False])

        TailNum Origin Dest  Distance  ArrDelay
1513425  N784AS    WRG  PSG        31      12.0
759223   N12195    LGB  ONT        35      39.0
1242701  N773AS    GST  JNU        41      77.0
1319808  N292UX    OXR  LAX        49      83.0
435630   N567SW    OXR  LAX        49      26.0
...         ...    ...  ...       ...       ...
1260710  N834MH    ATL  HNL      4502       4.0
1928078  N76054    EWR  HNL      4962      47.0
556379   N66051    EWR  HNL      4962      18.0
1068315  N76055    EWR  HNL      4962      -3.0
1520347  N76055    EWR  HNL      4962      -5.0

[20000 rows x 5 columns]

## - Exercici 3
#### Exporta el dataset net i amb les noves columnes a Excel.

In [47]:
DelFlights = DelFlights.fillna(0)

In [48]:
DelFlights.to_excel('DelFlights.xlsx')